<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocialNewsApp.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SocialNewsApp.Properties.AppSettings>
            <setting name="UserToken" serializeAs="String">
                <value />
            </setting>
            <setting name="CountNewsPerAggragator" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserFirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPhotoPath" serializeAs="String">
                <value />
            </setting>
        </SocialNewsApp.Properties.AppSettings>
    </userSettings>
</configuration>